.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

.comment-rating{
  position: absolute;
  right:5px;
}
.comment-rating .vue-rate-it-pointer {
    pointer-events: none;    
}
.comment-rating .vue-rate-it-pointer svg,
.comment-rating .vue-rate-it-pointer svg image {
    width: 12px !important;
    height: 12px !important;
}

.input-rating {
  float: left;
  width: 200px;
}

.input-rating .vue-rate-it-pointer svg,
.input-rating .vue-rate-it-pointer svg image {
    width: 30px !important;
    height: 30px !important;
}
